/* Estilos generales */

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  line-height: 2;
}

/*ENCABEZADO Y NAVEGACION*/

.header {
  text-align: center;
  background-color: #fff;
  padding: 20px 0 0 0;
}

.header h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.titulo-azul {
  color: #037bc0;
}

.contenedor-nav {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.navegacion {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.navegacion ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.navegacion a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.navegacion a:hover {
  color: #037bc0;
}
/*SECCION HERO INDEX*/
.hero img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  display: block;
}

/* MAIN SECTION - INDEX*/
main{
    padding: 0;
    margin: 0;
}

.categorias {
  padding: 5rem 0;
}

.contenerdor {
  max-width: 120rem;
  margin: 0 auto;
}

.titulo-catego {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}

.lista-categorias .img-categoria {
  width: 100%;
}

.img-categoria {
  max-width: 100%;
  display: block;
  border-style: none;
}

.a-catego {
  text-decoration: none;
  color: #000;
}

.lista-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.lista-categorias .a-catego {
  text-align: center;
  display: block;
  padding: 2rem;
  font-size: 2rem;
}

.lista-categorias a:hover {
  background-color: #037bc0;
  color: #fff;
  border-bottom-right-radius: 1rem;
}
