/* Estilos generales */

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  line-height: 1.8;
}

/*ENCABEZADO Y NAVEGACION*/

.header {
  text-align: center;
  background-color: #fff;
  padding: 15px 0 0 0;
}

.header h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.titulo-azul {
  color: #037bc0;
}

.contenedor-nav {
  border-top: 1px solid #ccc;
  margin: 8px 0;
}

.navegacion {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0.8rem 1.5rem;
}

.navegacion ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.navegacion a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 0.95rem;
}

.navegacion a:hover {
  color: #037bc0;
}

/*SECCION HERO INDEX*/

.hero img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  display: block;
}
/* MAIN SECTION - INDEX */

main {
  padding: 0;
  margin: 0;
}

.categorias {
  padding: 2rem 0;
}

.contenedor {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.titulo-catego {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.lista-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.lista-categorias .img-categoria {
  width: 100%;
}

.img-categoria {
  max-width: 100%;
  display: block;
  border-style: none;
}

.a-catego {
  text-decoration: none;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.lista-categorias .a-catego {
  text-align: center;
  display: block;
  padding: 1.5rem;
  font-size: 1.6rem;
}

.lista-categorias .categoria:hover .a-catego {
  background-color: #037bc0;
  color: #fff;
  border-bottom-right-radius: 1rem;
}

